n8n.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "ecb1f266-e0bf-4f06-8340-e2973bf85ae2",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1392,
        752
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message || $json.body.question || $json.body.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful agricultural support assistant for farmers.\n\nYour role is to:\n- Answer questions about crops, farming techniques, pest control, and agricultural best practices\n- Provide guidance on seasonal planting and harvesting\n- Help troubleshoot common farming problems\n- Offer advice on soil management, irrigation, and fertilization\n- Share information about weather patterns and their impact on farming\n- Suggest sustainable and organic farming methods when appropriate\n\nAlways be:\n- Clear and practical in your advice\n- Supportive and encouraging\n- Mindful of different farming scales (small family farms to larger operations)\n- Aware of regional variations in farming practices\n\nIf you don't know something specific, acknowledge it and suggest where the farmer might find more information.\n\nWhen answering questions, first search the farming_knowledge_base tool to find relevant information from our agricultural database. Base your answers on the retrieved information when available, and supplement with your general knowledge when needed."
        }
      },
      "id": "143b02e1-cc31-4ca5-91de-c7ded3c726b6",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -960,
        736
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the agricultural knowledge base for information about farming techniques, government schemes, crop management, pest control, and best practices. Use this tool when you need specific information to answer farmer questions.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "3c466e51-e03c-4951-be18-5ff85dbb6585",
      "name": "Vector Store RAG",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -976,
        1024
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d29b013c-0da9-47b5-a2d3-89d7d4a41ee1",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -768,
        1216
      ],
      "credentials": {
        "openAiApi": {
          "id": "738DpnCS2TyJ9nlu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "42f8a333-2103-44f6-9819-7cb93c320659",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        0,
        624
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agricultural-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        560
      ],
      "id": "cee0cdf9-9714-4c63-a26e-508c5952df78",
      "name": "Webhook",
      "webhookId": "b91280f8-56f0-4528-8223-21991d045ed2"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1ab23f6-de8c-47a8-aa39-4396f19f6d6f",
      "name": "OpenAI Embeddings for ICAR",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "738DpnCS2TyJ9nlu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "1155a4ae-4960-4f0d-8173-6ceeb241fd18",
      "name": "ICAR Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        224
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "099ce773-b195-4ee0-a083-cae89213caaa",
      "name": "ICAR Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        48
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "vector_store_key"
        }
      },
      "id": "45573eb6-2cee-4227-a997-38d95941d197",
      "name": "Vector Store ICAR Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        208,
        -160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a2fe9001-f24b-4fff-82f4-67125388f042",
      "name": "OpenAI Embeddings for Insert",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "738DpnCS2TyJ9nlu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "vector_store_key"
        }
      },
      "id": "811abbd4-5612-4fb7-8255-6a5cb4581e61",
      "name": "Vector Store Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -48,
        272
      ]
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "4ba49468-2ffe-4f61-aa23-a0e81f78bcdc",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        464
      ]
    },
    {
      "parameters": {
        "url": "https://agritech.tnau.ac.in/agriculture/agri_cropproduction_cereals%20index%20new_rice.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "39a75a4c-9c79-4b9f-af2d-89b79b257636",
      "name": "Fetch Agricultural Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        336
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "95b70dad-4eda-481d-a3b0-35184dd1d4fb",
      "name": "Schedule Data Ingestion",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output, \"status\": \"success\" } }}",
        "options": {}
      },
      "id": "e3b6ae6a-8196-4b9e-8965-27fb3ade95b8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -576,
        608
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ab37137-3717-4e34-aa6b-da529773b16d",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1152,
        976
      ],
      "credentials": {
        "openAiApi": {
          "id": "738DpnCS2TyJ9nlu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.pau.edu/content/ccil/pf/pp_rabi.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "581ca76b-79ad-4cde-88be-723165cbde7a",
      "name": "RABI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -96
      ]
    },
    {
      "parameters": {
        "url": "https://www.millets.res.in/farmer/2025/Millets_chalisa/English/1Millets_chalisa_pearl_millet.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "876751fe-848b-443c-9f2d-67c2909266c5",
      "name": "IIMR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -288
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "vector_store_key"
        }
      },
      "id": "1df67de9-0a23-4b0f-9edd-de8aa6cf38af",
      "name": "Vector Store ICAR Insert1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        288,
        -656
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a90575c7-b3bb-49c0-ba2a-bcf673a5be4e",
      "name": "OpenAI Embeddings for ICAR1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        -448
      ],
      "credentials": {
        "openAiApi": {
          "id": "738DpnCS2TyJ9nlu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "0734b20c-3c48-4b96-af8f-3c1e884cfd98",
      "name": "ICAR Document Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        -480
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        368,
        -336
      ],
      "id": "d7d56d28-b2cb-4152-928a-fcfc04c7e4ee",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "url": "https://www.millets.res.in/farmer/2025/Millets_chalisa/English/1Millets_chalisa_pearl_millet.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9135e1c6-5da3-462b-a564-ac5c156bca47",
      "name": "IIMR2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        -928
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "vector_store_key"
        }
      },
      "id": "3dc10f99-2c59-4d18-b954-7a6546e28cee",
      "name": "Vector Store ICAR Insert2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        112,
        -1136
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        -928
      ],
      "id": "5d889b4c-184e-4607-ab7d-e119154cee8c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "738DpnCS2TyJ9nlu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        160,
        -848
      ],
      "id": "242ef78b-72a9-4863-9c1c-644b0e45fbb4",
      "name": "Token Splitter1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "42b41948-df65-4b32-b664-ef12f156261d",
      "name": "ICAR Document Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        128,
        -992
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store RAG": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICAR Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "ICAR Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings for ICAR": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store ICAR Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ICAR Document Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store ICAR Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings for Insert": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agricultural Website": {
      "main": [
        [
          {
            "node": "RABI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vector Store Insert",
            "type": "main",
            "index": 0
          },
          {
            "node": "IIMR",
            "type": "main",
            "index": 0
          },
          {
            "node": "IIMR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Data Ingestion": {
      "main": [
        [
          {
            "node": "Fetch Agricultural Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Fetch Agricultural Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RABI": {
      "main": [
        [
          {
            "node": "Vector Store ICAR Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IIMR": {
      "main": [
        [
          {
            "node": "Vector Store ICAR Insert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings for ICAR1": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store ICAR Insert1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ICAR Document Loader1": {
      "ai_document": [
        [
          {
            "node": "Vector Store ICAR Insert1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "ICAR Document Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "IIMR2": {
      "main": [
        [
          {
            "node": "Vector Store ICAR Insert2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store ICAR Insert2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ICAR Document Loader2": {
      "ai_document": [
        [
          {
            "node": "Vector Store ICAR Insert2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "ICAR Document Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa16aa4e-bc66-4e4c-b219-06802a157878",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50939eb970cde37ec2f338876664c084ca96581cb921ba019522297ed77c5400"
  },
  "id": "LRyRcVXNrLbfX8NV",
  "tags": []
}